<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>

<link rel="stylesheet" type="text/css" href="todo.css">
</head>

<body>

  <main mv-app="todo" mv-storage="objsheets"class="mv-autoedit">
    <ul>
      <li property="Task" mv-multiple>
        <label>
          <input type="checkbox" property="completed">
          <span property="title"></span>
        </label>
      </li>
    </ul>
    <button class="clear-completed" mv-call="clearCompleted">Clear Completed</button>
  </main>

</body>

