<head>
<meta charset="utf-8">
<%= jquery />
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>


<!-- DoubleOhFiveQueueStylesheet -->
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='./semantic-ui/semantic.min.css' rel='stylesheet' type='text/css'>
  <link href="index.css" rel='stylesheet' type='text/css'>
</head>


<body>
<script>
renderTemplate("./lib/objsheets/src/apps/005q/client/005q-mavo.html", "Mavo_DoubleOhFiveQueue", {sheet: '005q',
"&gt; Mavo_DoubleOhFive_nav": fetchTemplate("./lib/objsheets/src/apps/005q/client/005q-mavo.html",
     "Mavo_DoubleOhFive_nav")
              });
var rwlink = {"//apps/005q-mavo/staff": "login.html",
              "./staff/[simpleCellId]": "staff.html?[simpleCellId]"}
$('a').each((i, a) => { let href = $(a).attr('href'); if (v = rwlink[href]) $(a).attr('href', v); });
</script>
</body>
