<meta charset="utf-8">
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
<link rel="stylesheet" type="text/css" href="milk.css">
</head>

<body>
<script>
renderTemplate("./lib/objsheets/src/apps/milk/client/milk.html", "MilkMaid", {sheet: 'milk'});
</script>

<!--
<div mv-app="milk" mv-storage="objsheets" mv-mode="read">

  <div class="header">Got Milk?</div>
  
  <div class="content">
    <div class="Team">
      <table>
        <tr property="Team" mv-multiple data-isNext="[isNext]">
          <td property="simpleCellId" style="display: none"></td>
          <td property="isNext" style="display: none"></td>
          <td class="names"><span property="members_display" mv-multiple></span></td>
          <td><div mv-if="isNext != null"><span property="quota"></span>
              <button mv-call="supply" mv-arg-me="[simpleCellId]">Supply 2gal</button>
          </div></td>
        </tr>
      </table>
    </div>

    <div class="Gauge">
      <table property="Gauge" mv-multiple>
        <tr property="reading" style="display: none"></tr>
        <tr property="Level" mv-multiple data-selected="[reading == simpleCellId]">
          <td property="simpleCellId" style="display: none"></td>
          <td class="marking"><span property="label"></span></td>
        </tr>
      </table>
    </div>
  </div>
  
</div>
-->

</body>

