div.header { background: rgba(0,60,60,0.2); padding: 9px; }
div.content { position: relative; }
div.Gauge { position: absolute; right: 0; top: 0;  margin: 9px; }
div.Team { margin: 9px; }
table { border-collapse: collapse; }
table td { border: 1px solid #CCC; padding: 6px; }
div.Team tr[data-isNext='true'] td { background: rgba(0,0,255,0.2); }
div.Team .names span:not(:first-child):before { content: " and "; color: #888; }
div.Gauge tr[data-selected='true'] td { outline: 3px solid black; }
div.Gauge tr td { cursor: pointer; }
div.Gauge tr td:hover { background: rgba(0,0,255,0.2); }

/* Mavo toolbar is useless in this app */
/* Note: mv-mode="read" on root seems to have no effect */
.mv-bar.mv-ui { height: 30px; }
.mv-bar.mv-ui button { display: none; }
