<head>
<meta charset="utf-8">
<%= jquery />
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
<link rel="stylesheet" type="text/css" href="conf.css">
</head>

<body>
<script>
renderTemplate("./lib/objsheets/src/apps/conf/client/conf.html", "ConfLogin", {sheet: 'conf'});
</script>
</body>


<script>
var c = 0;
function doLogin(username, login, userbase) {
  if (login > c) {
    c = login;
    for (let i = 0; i < userbase.length; i++) {
      let u = userbase[i];
      if (u.ctxt_display == username) {
        window.location = "papers.html?" + u.simpleCellId;
        return ;
      }
    }
    return "no such user";
  }
}
</script>

