<meta charset="utf-8">
<%= jquery />
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
<link rel="stylesheet" type="text/css" href="conf.css">
</head>

<body>
<script>
renderTemplate("./lib/objsheets/src/apps/conf/client/conf.html", "ConfPaper", {sheet: 'conf', '&gt; ConfStylesheet': ''});
var rwlink = {"../..": "index.html",
              "[if(viewer,'../user/', 'javascript:history.back()')][viewer][if(viewer,'/papers','')]":
              "[if(viewer,'papers.html?', 'javascript:history.back()')][viewer]"}  /* @@ */
$('a').each((i, a) => { let href = $(a).attr('href'); if (v = rwlink[href]) $(a).attr('href', v); });
</script>
</body>

