<meta charset="utf-8">
<%= jquery />
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
<link rel="stylesheet" type="text/css" href="conf.css">
</head>

<body>
<script>
renderTemplate("./lib/objsheets/src/apps/conf/client/conf.html", "ConfProfile", {sheet: 'conf', '&gt; ConfStylesheet': ''});
var rwlink = {"../..": "index.html",
              "[simpleCellId]/papers": "papers.html?[simpleCellId]"}
$('a').each((i, a) => { let href = $(a).attr('href'); if (v = rwlink[href]) $(a).attr('href', v); });
</script>
</body>

