style.
    div.content { position: relative; }
    div.Gauge { position: absolute; right: 0; top: 0;  margin: 9px; }
    div.Cycle { margin: 9px; }
    table { border-collapse: collapse; }
    table td { border: 1px solid #CCC; padding: 6px; }
    div.Cycle tr[data-isNext] td { background: rgba(0,0,255,0.2); }
    div.Cycle .names span:not(:first-child):before { content: " and "; color: #888; }
    div.Gauge tr[data-selected] td { outline: 3px solid black; }
    div.Gauge tr td { cursor: pointer; }
    div.Gauge tr td:hover { background: rgba(0,0,255,0.2); }

div.content
  div.Cycle
    table
      + Team
        tr(data-isNext=if(isNext,1,{}))
          td.names
            + members
              span= name
          td
            + if(isNext,Team,{})
              = quota
              |  
              button.supply. Supply 2gal
  div.Gauge
    table
      + Gauge.Level
        tr(data-selected=if(Level=$Gauge.reading,1,{}))
          td= name
script
  | $(".supply").click(function() {console.log(arguments); })