<html>
  <head>
    <title>🌸 Designer</title>
    <meta charset="utf-8" />
    <%= codemirror />
    <script src="../bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="../bower_components/codemirror/mode/jade/jade.js"></script>
  <style>
  body{ padding: 0; margin: 0; }
  #designer {
    display: flex;
    background: #EFE;
    /*
    position: absolute;
    z-index: 108;
    bottom: 0;*/
  }
  #designer #editor {
    min-width: 75px;
    background: white;
    box-shadow: 0 0 5px black;
  }
  #designer #preview {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    padding: 0 9px;
    margin-left: 5px;
  }
  #designer #preview.err {
    background: #FCC;
  }
  #designer #preview.err:hover {
    background: #FAA;
  }
  .err::before {
    content: attr(data-tip);
    position: absolute;
    z-index: 999;
    font-size: 8pt;
    background: white;
    border: 1px solid black;
    bottom: 5px;
    right: 5px;
    white-space: pre;
    visibility: hidden;
  }
  .err:hover::before {
    visibility: visible;
  }
  .CodeMirror {
    height: auto;
  }
  span.err::after { content: "!!"; color: brown; }
  span.err:hover::after { background: pink; }
  
  /* twit demo */
  p.emo {
    display: inline-block;
    transform: rotate(90deg);
    font-family: monaco;
    margin: 0;
  }
  p.box {
    outline: 1px solid black;
    min-height: 2em;
    white-space: pre-wrap;
  }
  p.box .date, p.box .name { 
    display: block; 
    clear: right;
    float: right;
    font-size: smaller; 
  }
  div.form {
    display: flex;
  }
  div.form textarea {
    flex-grow: 1;
  }
  div.form button {
    max-height: 50px;
  }
  </style>
  </head>
  <body>
    <div id="designer">
      <div id="editor"></div>
      <div id="preview"></div>
    </div>
  </body>
</html>