#MainUI {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#MainUI #ActionBar {
  height: 100px;
  flex-shrink: 0;
}
#MainUI #View {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 0;
  box-sizing: border-box;
}
.handsontable div.wtHolder {
  box-sizing: border-box;
  padding: 5px;
}
#popup {
  position: absolute;
  z-index: 109;
  top: 0;
  background: white;
  border: 1px solid black;
  padding: 9px;
  border-radius: 9px;
  display: none;
}

#MainUI #ActionBar input {
  width: 100%;
}
#MainUI #ActionBar #Toolbox {
  position: absolute;
  right:10px;
  top: 15px;
}
#MainUI #ActionBar select#switch-view {
  opacity: 0.5;
}
#MainUI #ActionBar select#switch-view:hover {
  opacity: 1;
}
#MainUI #ActionBar #open-designer-container {
  display: inline-block;
  width: 30px;
  position: relative;
  top: -17px;
}

#MainUI #ActionBar button#open-designer {
  position: absolute;
  font-size: 15px;
  background: none;
  border: none;
  outline: none;
  opacity: 0.5;
  transition: font-size 0.2s, margin 0.1s;
}
#MainUI #ActionBar button#open-designer:hover {
  opacity: 1;
}
#MainUI #ActionBar button#open-designer:active {
  opacity: 1;
  font-size: 21px;
  margin-left: -2px;
  margin-top: -2px;
  transition: none;
}
