<title>Object Spreadsheets</title>
<meta charset="utf-8" />

<script src="../node_modules/nwjs-kremlin/reload.js"></script>
<script>Reload.cd(".."); Reload.ignore(/^private\/data\//, /^tests\//);</script>

<%= jquery />
<%= meteor.mini />
<!--
<%  = meteor.blaze />
<%  = livescript />
-->
<%= codemirror />

<script src="./globalize.ls.js"></script>

<script src="../lib/objsheets/public/handsontable/handsontable.full.js"></script>
<link rel="stylesheet" type="text/css" href="../lib/objsheets/public/handsontable/handsontable.full.css">

<script src="../node_modules/jquery-contextmenu/dist/jquery.contextMenu.js"></script>
<script src="../node_modules/jquery-contextmenu/dist/jquery.ui.position.js"></script>
<link rel="stylesheet" type="text/css" href="../node_modules/jquery-contextmenu/dist/jquery.contextMenu.css">

<script src="../lib/objsheets/src/lib/meta/fallback.ts.js"></script>
<script src="../lib/objsheets/src/lib/meta/assert.ts.js"></script>
<script src="../lib/objsheets/src/lib/meteor-typescript.ts.js"></script>
<script src="../lib/objsheets/src/lib/util.ts.js"></script>
<script src="../lib/objsheets/src/lib/collections.ts.js"></script>
<script src="../lib/objsheets/src/lib/server/lock.ts.js"></script>
<script src="../lib/objsheets/src/data.ts.js"></script>
<script src="../lib/objsheets/src/client/data.ts.js"></script>
<script src="../lib/objsheets/src/server/data.ts.js"></script>
<script src="../lib/objsheets/src/server/engine.ts.js"></script>
<script src="../lib/objsheets/src/data-ui.ts.js"></script>
<script src="../lib/objsheets/src/tablespace.ts.js"></script>
<script src="../lib/objsheets/src/server/tablespace.ts.js"></script>
<script src="../lib/objsheets/src/client/tablespace.ts.js"></script>
<script src="../lib/objsheets/src/misc.ts.js"></script>
<script src="../lib/objsheets/src/schema.ts.js"></script>
<script src="../lib/objsheets/src/schema-ui.ts.js"></script>
<script src="../lib/objsheets/src/view.ts.js"></script>
<script src="../lib/objsheets/src/server/view.ts.js"></script>
<script src="../lib/objsheets/src/app-helpers.ts.js"></script>
<script src="../lib/objsheets/src/client/app-helpers.ts.js"></script>
<script src="../lib/objsheets/src/server/app-helpers.ts.js"></script>
<script src="../lib/objsheets/src/lib/client/ui.ts.js"></script>
<script src="../lib/objsheets/src/language/compiler.ts.js"></script>
<script src="../lib/objsheets/src/language/formulas.ts.js"></script>
<script src="../lib/objsheets/src/testing.ts.js"></script>
<script src="../lib/objsheets/src/language/language.jison.js"></script>
<script>Jison.Parsers._register('language', language);</script>

<script src="../lib/objsheets/src/language/procedures.ts.js"></script>
<script src="../lib/objsheets/src/language/server/rev-eng.ts.js"></script>

<script src="../lib/objsheets/src/client/grid.ts.js"></script>
<script src="../lib/objsheets/src/lib/client/html-select.ts.js"></script>
<script src="../lib/objsheets/src/client/table.ts.js"></script>
<script src="../lib/objsheets/src/client/sheet.ts.js"></script>
<script src="../lib/objsheets/src/client/action-bar.ts.js"></script>
<script src="../lib/objsheets/src/client/context-menu.ts.js"></script>
<script src="../lib/objsheets/src/model-methods.ts.js"></script>
<script src="../lib/objsheets/src/server/model.ts.js"></script>

<script src="../lib/objsheets/src/incremental_update.ts.js"></script>

<!-- Mavo rendering support -->
<script src="../lib/mavo/mavo.js"></script>

<!-- standalone adaptation code -->
<script src="./data.ls.js"></script>
<script src="./table.ls.js"></script>
<script src="./action-bar.ls.js"></script>
<script src="./standalone.ls.js"></script>
<!-- <script src="./templating.ls.js"></script> -->

<link rel="stylesheet" type="text/css" href="../lib/objsheets/src/client/sheet.css">
<link rel="stylesheet" type="text/css" href="../lib/objsheets/src/client/table.css">
<link rel="stylesheet" type="text/css" href="./standalone.css">

<!-- procedure code for individual apps (load on demand?) -->
<script src="../lib/objsheets/src/apps/todo/server/todo-procedures.ts.js"></script>
<script src="../lib/objsheets/src/apps/conf/server/conf-procedures.ts.js"></script>
<script src="../lib/objsheets/src/apps/ptc-vu/server/ptc-vu-procedures.ts.js"></script>
<script src="../lib/objsheets/src/apps/005q/server/005q-procedures.ts.js"></script>
<script src="../lib/objsheets/src/apps/milk/server/milk-procedures.ts.js"></script>


<div id="MainUI">
  <div id="ActionBar">
    <div id="Toolbox">
      <select id="open-spreadsheet"></select>
      <select id="switch-view"></select>
      <span id="open-designer-container"><button id="open-designer">🌸 </button></span>
    </div>
  </div>
  <div id="View"></div>
</div>

<div id="popup"><input size="" type="text"></div>

</div>
