meta { display: none !important; } /* override Mavo default */

div.toolbar {
  text-align: right;
}

table.papers {
  border-collapse: collapse;
}

table.papers td {
  border: 1px solid grey;
  padding: 2px 5px;
}

table.papers ul,
table.paper ul {
  margin: 0;
  padding-left: 20px;
}
table.papers li,
table.paper li {
  text-indent: -4px;
}

table.paper textarea,
table.review textarea{
  width: 100%;
  height: 10em;
}
table.paper input[property='latestTitle'] {
  width: 100%;
}

table.paper,
table.review {
  width: 100%;
}
table.paper th,
table.review th {
  white-space: nowrap;
  width: 1px;  /* force minimal width */
}

[property="ReviewView"] em {
  color: red;  /* save reminder */
}
