<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
</head>

<div mv-app="conf" mv-storage="objsheets:views/ClientUserView" mv-debug>

  <form action="#">
    <input property="username" list="usernames"> <button type="submit" property="login">Login</button>
    <span property="link">[doLogin(username, login, ClientUserView)]</span>
  </form>

  <datalist id="usernames">
    <option property="ClientUserView" mv-multiple>
      <meta property="simpleCellId"/>
      <span property="ctxt_display"
        data-username="[ctxt_display]" data-cellId="[simpleCellId]"></span>
    </option>
  </datalist>

</div>

<script>
var c = 0;
function doLogin(username, login, userbase) {
  if (login > c) {
    c = login;
    for (let i = 0; i < userbase.length; i++) {
      let u = userbase[i];
      if (u.ctxt_display == username) {
        window.location = "papers.html?" + u.simpleCellId;
        return ;
      }
    }
    return "no such user";
  }
}
</script>

