<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
<link rel="stylesheet" type="text/css" href="conf.css">
</head>

<div mv-app="conf" mv-storage="objsheets:ClientUserView:PaperView/{{encodeURI(cellId)}}" class="mv-autoedit">

  <meta property="viewer"/>
  <meta property="viewer_display"/>
  <div class="toolbar"><a href="[if(viewer,'papers.html?', 'javascript:history.back()')][viewer]">Back to list</a></div>

  <table class="paper">
    <tr>
      <th>Title</th><td><input property="latestTitle"></td>
    </tr>
    <tr>
      <th>Authors</th>
      <td>
        <ul>
          <li><span property="author_display" mv-mode="read"></span><span mv-if="!author_display">(you)</span></li>
          <li property="coauthors" mv-multiple></li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>Abstract</th>
      <td><textarea property="latestAbstract"></textarea></td>
    </tr>
    <tr>
      <th>Upload content:</th>
      <td><input property="latestContents" type="file"></td>
    </tr>

    <tr>
      <th>PC Conflicts</th>
      <td>
        <input property="pcConflicts_text" mv-multiple list="pcmembers">
      </td>
    </tr>

    <tr mv-if="viewer_display=='admin'">  <!-- don't worry, this is also checked at the server -->
      <th>Assign<br/>Reviewers</th>
      <td>
        <input property="assignedReviewers_text" mv-multiple list="pcmembers">
      </td>
    </tr>
  </table>

  <h3>Reviews</h3>
  <table property="ReviewView" class="review" mv-mode="if(role=='author', 'read', '')" mv-multiple>
    <tr>
      <th>Reviewer<meta property="simpleCellId"/></th>
      <td property="reviewer_display" mv-if="simpleCellId && reviewer_display"></td>
      <td mv-if="simpleCellId && !reviewer_display">#[$index]<!-- anonymous reviewer --></td>
      <td mv-if="!simpleCellId" mv-mode="read">[viewer_display] <em>(don't forget to save!)</em></td>
    </tr>
    <tr>
      <th>Score</th>
      <!-- seems that Mavo cannot handle expression in mv-mode -->
      <td>
        Novelty: <span property="score_novelty" mv-if="!simpleCellId"></span><span mv-if="simpleCellId">[score_novelty]</span>/5 |
        Presentation: <span property="score_presentation" mv-if="!simpleCellId"></span><span mv-if="simpleCellId">[score_presentation]</span>/5 |
        Technical: <span property="score_technical" mv-if="!simpleCellId"></span><span mv-if="simpleCellId">[score_technical]</span>/5 |
        Confidence: <span property="score_confidence" mv-if="!simpleCellId"></span><span mv-if="simpleCellId">[score_confidence]</span>/5
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <p mv-if="simpleCellId" mv-mode="read">[contents]</p>
        <textarea property="contents" mv-if="!simpleCellId"></textarea>
      </td>
    </tr>
  </table>

</div>

<div mv-app="conf" mv-storage="objsheets:views/PublicView" style="display: none">
  <datalist id="pcmembers">
    <option property="PCMember" mv-multiple><span property="name"></span></option>
  </datalist>
</div>

<script>
var ellipsis = encodeURI(decodeURI(window.location.search.substr(1)));
var e = $('[mv-storage]');
e.setAttribute('mv-storage', e.getAttribute('mv-storage').replace(/\{\{.*?\}\}/, ellipsis));
</script>

