<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
<link rel="stylesheet" type="text/css" href="conf.css">
</head>

<div mv-app="conf" mv-storage="objsheets:ClientUserView/{{encodeURI(cellID)}}">

  <meta property="simpleCellId"/>
  <div class="toolbar"><a href="profile.html?[simpleCellId]">My profile</a></div>

  <table class="papers">
    <tr><th>Title</th><th>Authors</th></tr>
    <tr property="PaperView" mv-mode="read" mv-multiple>
      
      <td>
        <meta property="simpleCellId"/>
        <a href="paper.html?[simpleCellId]"><span property="paper_display" mv-mode="read"></span></a>
      </td>
      <td>
        <ul>
          <li property="author_display" mv-mode="read"></li>
          <li property="coauthors" mv-multiple></li>
        </ul>
      </td>
    </tr>
  </table>

  <div><a href="paper.html?*[simpleCellId]">New submission</a></div>

</div>

<script>
var ellipsis = encodeURI(decodeURI(window.location.search.substr(1)));
var e = $('[mv-storage]');
e.setAttribute('mv-storage', e.getAttribute('mv-storage').replace(/\{\{.*?\}\}/, ellipsis));
</script>
