<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
<link rel="stylesheet" type="text/css" href="conf.css">
</head>

<div mv-app="conf" mv-storage="objsheets:ClientUserView/{{encodeURI(cellId)}}">

  <meta property="simpleCellId"/>
  <div class="toolbar"><a href="papers.html?[simpleCellId]">My papers</a></div>

  <div property="SelfProfileView">
    <table>
      <tr><th><label>Username:</label></th>     <td><span property="self_display"></span></td></tr>
      <tr><th><label>Full name:</label></th>    <td><input property="name"></td></tr>
      <tr><th><label>Affiliation:</label></th>  <td><input property="affiliation"></td></tr>
      <tr><th><label>Email:</label></th>        <td><input property="email"></td></tr>
    </table>
  </div>
</div>


<script>
var ellipsis = encodeURI(decodeURI(window.location.search.substr(1)));
var e = $('[mv-storage]');
e.setAttribute('mv-storage', e.getAttribute('mv-storage').replace(/\{\{.*?\}\}/, ellipsis));
</script>

