<head>
<meta charset="utf-8">
<%= jquery />
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
</head>

<body>
<script>
renderTemplate("./lib/objsheets/src/apps/ptc-vu/client/ptc-vu-mavo.html", "Mavo_PTC_Calendar", {sheet: 'ptc-vu'});
</script>
</body>

<!-- ahh it seems like adding a <script> element to the body does not cause the script to actually be executed. -->
<!-- >> How does it work with Meteor? -->
<script>function caption() { return "Available teachers:\n"; }</script>

