<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
</head>

<div mv-app="ptc-vu" mv-storage="objsheets:views/1">
  <h1>Parent login</h1>
  <ul>
    <li property="ParentView" mv-multiple>
      <meta property="simpleCellId" />
      <a href="parent.html?[simpleCellId]"><span property="object_display"></span></a>
    </li>
  </ul>

  <h1>PC Principal</h1>
  <a href="calendar.html">Show calendar</a>
    
</div>

