<head>
<meta charset="utf-8">
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="../../lib/mavo/mavo.css"/>
<script src="../../lib/mavo/mavo.js"></script>
<script src="../../src/mavo-adapter.ls.js"></script>
</head>

<body>
<script>
var tn = window.location.search ? "Mavo_PTC_Parent" : "Mavo_PTC_Parent_login";
renderTemplate("./lib/objsheets/src/apps/ptc-vu/client/ptc-vu-mavo.html", tn, {sheet: 'ptc-vu'});
var rwlink = {"../parent": "parent.html",
              "parent/[simpleCellId]": "parent.html?[simpleCellId]"}
$('a').each((i, a) => { let href = $(a).attr('href'); if (v = rwlink[href]) $(a).attr('href', v); });
</script>
</body>
